%h2 ユーザ情報編集

- if current_user.provider.nil? || current_user.provider.empty?
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :email, required: true, autofocus: true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: 
          = resource.unconfirmed_email

      = f.input :password, autocomplete: "off", hint: "変更しない場合は空白のままにしてください。", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "パスワードを変更するには現在のパスワードを入力してください。", required: true

    .form-actions
      = f.button :submit


%h3 アカウント削除

%p
  = link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete
