%h1 コード一覧

%table
  %thead
    %tr
      %th タイトル
      %th 更新日
      %th
      %th

  %tbody
    - @chords.each do |chord|
      %tr
        %td
          = chord.title
        %td
          = t chord.updated_at
        %td
          = link_to 'Show', chord
        %td
          = link_to 'Destroy', chord, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chord', new_chord_path
