%p#notice
  = notice

%ul.pagination
  - if @key <= -5
    %li.disabled
      %a{href: "#"}
        \-
  - else
    %li
      = link_to('-', change_chord_transposition_path(params[:id], -1), :method=>'post')
  %li.active
    %a{href: '#'}
      = @key
  - if @key >= 5
    %li.disabled
      %a{href: "#"}
        +
  - else
    %li
      = link_to('+', change_chord_transposition_path(params[:id], 1), :method=>'post')

%h1
  = @chord.title

- @parsed_contents.each do |line|
  %div{class: 'line'}
    - line.each do |contents|

      %div{class: 'chord'}      
        = chord_image(transpose_chord(contents[:chord], @key))
        %br
        = transpose_chord(contents[:chord], @key)
        %br
        = contents[:lyric]


%br

= link_to 'Edit', edit_chord_path(@chord) |
= link_to 'Back', chords_path
