.container
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin', "role" => "form" }) do |f|
    %h2.form-signin-heading ログイン
    = f.input :email, required: true, autofocus: true, placeholder: "メールアドレス", label: false, input_html: {class: "form-control"}
    = f.input :password, required: true, placeholder: "パスワード", label: false, input_html: {class: "form-control"}
    = f.input :remember_me, as: :boolean, :wrapper => :inline_checkbox if devise_mapping.rememberable?
    = f.button :submit, "ログイン", class: "btn btn-lg btn-primary btn-block"

    ━━━━━━━━━━━━━━━━━━━━━━━━
   
    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        = link_to "#{provider.to_s.titleize}アカウントでログイン", omniauth_authorize_path(resource_name, provider), class: "btn btn-default btn-lg btn-block active"


= render "devise/shared/links"
